.App {
  display: grid;
  grid-template-columns: repeat(1fr 3);
  grid-template-areas:
    "clock clock clock"
    "start wait reset";
  gap: 10px;
}
.clock {
  grid-area: clock;
  font-size: 30px;
  text-align: center;
}
.start {
  grid-area: start;
}
.wait {
  grid-area: wait;
}
.reset {
  grid-area: reset;
}
button {
  font-size: 24px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
button::after {
  content: "";
  background: rgb(253, 168, 168);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.5s;
}
button:hover::after {
  width: 100%;
}
